@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    background-color: rgb(2, 11, 29);
}

h1{
    color: rgb(0, 120, 219);
    text-align: left;
    font-size: 2.5rem;
    display: flex;
    margin-top: .3em;
    margin-left: 1em;
    font-weight: bold;
}

.info{
  display: flex;
  gap: 20px;
  font-size: 1rem;
  margin-top: 12px;
  color: white;
  position: absolute;
  left: 280px;
}

.topo{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}

.direita img:last-of-type{
    max-width: 30px;
    width: 100%;
    max-height: 40px;
    height: 100%;
}

.direita p{
    margin-top: .7em;
}

.direita{
    display: flex;
    color: white;
    font-size: 1.2rem;
    gap: 35px;
    margin-top: 20px;
}

.filme p:first-of-type{
    color:  rgb(0, 120, 219);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
}

.filme p:last-of-type{
    margin: 0;
    line-height: 1;
    color: rgb(12, 106, 118);
    font-family: "Playfair Display", sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

.filme{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    gap: 20px;
    margin-top: 200px;
}

.filme .botões{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.filme button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition:
    background-color 0.3s ease,
    transform 0.1s ease,
    box-shadow 0.3s ease;
}

.filme button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.filme button:first-of-type{
    max-width: 200px;
    min-width: 200px;
    width: 100%;
    height: 70px;
    background-color: rgb(154, 188, 217);
}

.filme button:last-of-type{
    max-width: 400px;
    min-width: 400px;
    width: 100%;
    height: 70px;
    background-color: rgba(91, 130, 165, 0.408);
}

.Imagens p{
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-size: 1.3rem;
    font-weight: 1;
    margin: 0;
    align-self: flex-start;
    margin-left: 50px;
}

#popupInfo{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    position: fixed;
    display: none;
    background: linear-gradient(to right, rgb(227, 234, 240), rgb(152, 204, 236));
    width: 25vw;
    height: 50vh;
    border-radius: 1rem;
    padding: 0 1.5em;
    font-size: 2.3rem;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    align-items: center;
    flex-direction: column;
}

.popupInfo button{
    font-size: 2rem;
    background-color: rgb(232, 237, 242);
    color: rgb(67, 77, 91);
    border: .2%;
    border-color: rgb(112, 154, 190);
    max-width: 150px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    border-radius: .5rem;
    cursor: pointer;
    transition:
    background-color 0.3s ease,
    transform 0.1s ease,
    box-shadow 0.3s ease;
}

.popupInfo button:hover{
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.Imagens img{
    display: flex;
    cursor: pointer;
    transition:
    background-color 0.3s ease,
    transform 0.1s ease,
    box-shadow 0.3s ease;
    width: 15%;
    height: 190px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.Imagens img:hover{
    box-shadow: 4px 4px 0 0 rgba(168, 192, 234, 0.8);
    transform: translateY(-3px);
}

.Imagens{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 30px;
}

.Imagens img:first-of-type{
    margin-bottom: 10em;
}

#blurBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px); /* <<< borrado */
  background-color: rgba(98, 198, 234, 0.407); /* camada escura transparente */
  z-index: 900;
  display: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#blurBg.ativo {
  display: block;
  opacity: 1;
}

.half-y, .one-y{
    display: flex;
    gap: 10px;
    justify-content: center;
}